* {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Recoleta Alt';
}
.password-toggle {
  position: absolute;
  top: 57%;
  right: 36%;
  transform: translateY(-50%);
  cursor: pointer;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .password-toggle {
    position: absolute;
    top: 41.4%;
    right:15%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .password-toggle-reg {
    position: absolute;
    top: 73%;
    right:15%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .password-toggle-reg-two {
    position: absolute;
    top: 86%;
    right:15%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .password-toggle-reg-reset {
    position: absolute;
    top: 31%;
    right:15%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .password-toggle-reg-reset-two {
    position: absolute;
    top:41.5%;
    right:15%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}